<template>
  <v-app>
    <v-toolbar fixed app dark :clipped-left="true">
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <v-container>
        <v-slide-y-transition mode="out-in">
          <v-layout row wrap align-center>
            <v-flex xs12 sm6 md6 lg6 xl6>
              <v-card class="ml-1 mr-1">
                  <v-card-title class="title">
                    Diffusion plate:
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-card-text>
                    <div style="height: 500px;" :id="'diffusion-heatmap'"></div>
                  </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs12 sm6 md6 lg6 xl6>
              <v-card class="ml-1 mr-1">
                  <v-card-title class="title">
                    Simulation parameters:
                  </v-card-title>
                  <v-divider></v-divider>
                  <v-card-text>
                    <v-select
                      :items="Object.keys(materials)"
                      v-model="selectedMaterial"
                      label="Select a material"
                      solo
                    ></v-select>
                    <table>
                      <tr v-if="materials !== undefined" v-for="materialProperty in getSelectedMaterialProperty()" :key="materialProperty.name">
                        <td class="toShowProp">{{materialProperty.name}}: </td>
                        <td> {{materialProperty.value}}</td>
                      </tr>
                    </table>
                    <v-spacer class="mt-2 mb-2"></v-spacer>
                    <table>
                      <col width="90%">
                      <col width="10%">
                      <tr>
                        <th style="text-align: right;">Parameter</th>
                        <th style="text-align: center;">Value</th>
                      </tr>
                      <tr>
                        <td class="toShowProp">Spot Diameter (mm): </td>
                        <td style="text-align: center;">
                          <input v-model="spotDiameter" type="text" :placeholder="spotDiameter" name="spotDiameter">
                        </td>
                      </tr>
                      <tr>
                        <td class="toShowProp">Input Temperature (K): </td>
                        <td style="text-align: center;">
                          <input v-model="T_input" type="text" :placeholder="T_input" name="T_input">
                        </td>
                      </tr>
                      <tr>
                        <td class="toShowProp">Heating Time (ms): </td>
                        <td style="text-align: center;">
                          <input v-model="T_time" type="text" :placeholder="T_time" name="T_time">
                        </td>
                      </tr>
                    </table>
                  </v-card-text>
                  <v-card-actions lass="mb-5">
                    <v-spacer></v-spacer>
                    <v-progress-circular
                      :size="20"
                      color="primary"
                      indeterminate
                      v-show="simulationRunning"
                    ></v-progress-circular>
                    <v-btn v-show="!simulationRunning" @click="reset()" color="alert">Reset</v-btn>
                    <v-btn v-show="!simulationRunning" @click="runSimulation()" color="success">Simulate!</v-btn>
                  </v-card-actions>
                </v-card>
            </v-flex>
            <!-- <v-layout>
              <v-flex xs12>
                <v-card class=" mt-2 ml-1 mr-1">
                    <v-card-title class="title">
                      Difussion threshold (Time vs. Difussion Radius):
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                      <div style="height: 300px;" :id="'melt-plot'"></div>
                    </v-card-text>
                  </v-card>
              </v-flex>
            </v-layout> -->
          </v-layout>
        </v-slide-y-transition>
      </v-container>
    </v-content>
    <v-footer :fixed="true" app>
      <img class="ml-2" type="image/png" src="public/favicon.png" style="height: 20px;">
      <span class="ml-1">| by Horacio Canales</span>
    </v-footer>
  </v-app>
</template>

<script>

import * as Plotly from 'plotly.js-dist/plotly'

  export default {
    data () {
      return {
        u: [],
        animationData: [],
        title: 'HP Diffusion',
        materials: {
          'Aluminum': {
            'heat_capacity': 900,
            'thermal_conductivity': 167,
            'density': 2700,
            'melt_temperature': 933
          },
          'Copper': {
            'heat_capacity': 385,
            'thermal_conductivity': 385,
            'density': 8960,
            'melt_temperature': 1358
          },
          'Iron': {
            'heat_capacity': 440,
            'thermal_conductivity': 79.5,
            'density': 7860,
            'melt_temperature': 1811
          }
        },
        currentTimeStep: 0,
        selectedMaterial: 'Aluminum',
        maxSteps: 500,
        width: 10,
        height: 10,
        spotDiameter: 1,
        T_input: 2500,
        T_ambient: 300,
        T_time: 20, // In milliseconds
        dx: 0.1,
        dy: 0.1,
        simulationDone: false,
        u_molten: [],
        simulationRunning: false
      }
    },
    watch: {
      // whenever question changes, this function will run
      spotDiameter: function (newDiameter, oldRadius) {
        this.spotDiameter = parseFloat(newDiameter)
        this.reset()
      },
      T_input: function (newT, oldRadius) {
        this.T_input = parseFloat(newT)
        this.reset()
      },
      T_time: function (newTime, oldRadius) {
        this.T_time = parseFloat(newTime)
        this.reset()
      },
      selectedMaterial: function (newRadius, oldRadius) {
        this.reset()
      }
    },
    computed: {
      T_melt () {
        return this.materials[this.selectedMaterial]['melt_temperature']
      },
      spotRadius () {
        return this.spotDiameter / 2
      },
      cx () {
        return this.width / 2 //  The position in x for the temperature spot (mm)
      },
      cy () {
        return this.height / 2 //  The position in y for the temperature spot (mm)
      },
      dx2 () {
        return Math.pow(this.dx, 2)
      },
      dy2 () {
        return Math.pow(this.dy, 2)
      },
      diffusionCoefficient () {
        let thermalConductivity = this.materials[this.selectedMaterial]['thermal_conductivity']
        let density = this.materials[this.selectedMaterial]['density']
        let heatCapacity = this.materials[this.selectedMaterial]['heat_capacity']
        return 1e6 * thermalConductivity / (density * heatCapacity) // # In mm2/s
      },
      dt () {
        return this.dx2 * this.dy2 / (2 * this.diffusionCoefficient * (this.dx2 + this.dy2))
      },
      nx () {
        return parseInt(this.width / this.dx)
      },
      ny () {
        return parseInt(this.height / this.dy)
      },
      r2 () {
        return Math.pow(this.spotRadius, 2)
      }
    },
    methods: {
      initializeDomain () {
        /// Here we initialize the simulation domain
        for (var i = 0; i < this.nx; i++) {
          this.u[i] = []
          for (var j = 0; j < this.ny; j++) {
              this.u[i][j] = this.T_ambient
            }
          }
      },
      applyHeat (u) {
        /// Here we initialize the simulation domain
        for (var i = 0; i < this.nx; i++) {
          for (var j = 0; j < this.ny; j++) {
            let p2 = (i * this.dx - this.cx)**2 + (j * this.dy - this.cy)**2
            if (p2 < this.r2) {
              u[i][j] = this.T_input
            }
          }
        }
        return u
      },
      reset () {
        // Here we reset the domain
        this.currentTimeStep = 0
        this.initializeDomain()
        this.u = this.applyHeat(this.u)
        this.renderDiffusionHeatmapPlot()
      },
      runSimulation () {
        this.simulationRunning = true
        // Here we reset the domain
        this.initializeDomain()
        // let u = this.applyHeat(this.u)
        let u = []

        for (var i = 0; i < this.nx; i++) {
          u[i] = []
          for (var j = 0; j < this.ny; j++) {
            u[i][j] = this.T_ambient
          }
        }

        var doTimeStep = (u0, u) => {
          /// Here we apply forward difference in time and spatial difference from center
          for (var i = 1; i < this.nx - 1; i++) {
            for (var j = 1; j < this.ny - 1; j++) {
              // console.log('Here the iteration for u0: ', i, j, u0)
              let uxx = (u0[i+1][j] - 2*u0[i][j] + u0[i-1][j]) / this.dx2
              let uyy = (u0[i][j+1] - 2*u0[i][j] + u0[i][j-1]) / this.dy2
              u[i][j] = u0[i][j] + this.dt * this.diffusionCoefficient * (uxx + uyy)
            }
          }
          u0 = u
          return [u0, u]
        }

        // u0 = initializeDomain(u)
        let u0 = this.applyHeat(u)

        for (var ii = 0; ii < this.maxSteps; ii++) {
          // this.currentTimeStep = ii
          [u0, u] = doTimeStep(u0, u)
          let current_time = ii * this.dt * 1000 // # In milliseconds
          if (current_time <= this.T_time) {
            u0 = this.applyHeat(u0)
          }
          if (ii % 100 == 0) {
            console.log('New iteration: ', ii)
          }
        }
        this.u = u
        this.renderDiffusionHeatmapPlot()
        console.log('Thermal diffusion: ', this.diffusionCoefficient)
        console.log('DT: ', this.dt)
        this.simulationRunning = false
      },
      getSelectedMaterialProperty () {
        let selectedMaterialObject = this.materials[this.selectedMaterial]
        let materialProperties = Object.keys(selectedMaterialObject)
        let propertiesObject = Object.keys(materialProperties).map((val, idx) => {
          return {'name': this.$options.filters.camelToHuman(materialProperties[idx]), 'value': selectedMaterialObject[materialProperties[idx]]}
        })
        return propertiesObject
      },
      renderDiffusionHeatmapPlot () {
        var layout = {
          title: 'Heat Difussion', // this.currentAsset.goalProperty,
          xaxis: {
            title: 'X (mm)' // this.$options.filters.camelToHuman(this.selectedXAxis.key)
          },
          yaxis: {
            title: 'Y (mm)' // this.$options.filters.camelToHuman(this.selectedYAxis.key)
          }
        }
        // Plotly.newPlot('diffusion-heatmap' + '-' + this.currentTimeStep, data, layout);

        var data = [
          {
            z: this.u,
            zauto: false,
            zmax: parseInt(this.T_melt),
            zmin: parseInt(this.T_ambient),
            colorscale: 'Jet',
            type: 'heatmap'
          }
        ];

        Plotly.newPlot('diffusion-heatmap', data, layout)
      }
    },
    mounted () {
      this.initializeDomain() // Here we initialize the domain
      this.u = this.applyHeat(this.u)
      let sprayingHeatmapPlotElement = document.getElementById('diffusion-heatmap')
      if (sprayingHeatmapPlotElement !== null) {
        this.renderDiffusionHeatmapPlot()
        console.log('render')
      }
    // }
    }
  }
</script>
<style scoped>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

.toShowProp {
    background-color: #dddddd;
    text-align: right;
    font-weight: bold;
}
</style>
